<template>
  <AppDialog
    :open="isOpen"
    title="Feature Properties"
    @close="isOpen = false"
  >
    <table>
      <tbody>
        <tr
          v-for="(prop, idx) in properties"
          :key="prop.id"
        >
          <td>
            <input
              type="text"
              v-model="prop.name"
              placeholder="Name"
              @change="fixProperties"
            >
          </td>
          <td>
            <input
              type="text"
              v-model="prop.value"
              placeholder="Value"
            >
          </td>
          <td>
            <button
              @click="removeProperty(idx)"
              class="btn-icon"
            >
              <Icon icon="trash" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <footer class="mt-2">
      <button
        class="rounded px-4 py-2 bg-blue-700 text-white focus:ring-2 ring-offset-2"
        @click="updateProperties()"
      >
        Update
      </button>
    </footer>
  </AppDialog>
</template>
<script>
import { mapMutations } from "vuex";
import AppDialog from "./AppDialog.vue";
import Icon from "./Icon.vue";

let propIndex = 0;

// keep it an number if possible
function tryParse(value) {
  if (typeof value === "string") {
    if (/^\s*[.\d]+\s*$/.test(value)) return parseFloat(value);
  }
  return value;
}

function hasValue(value) {
  return value !== null && value !== undefined && value !== "";
}

export default {
  name: "FeatureDialog",
  components: { AppDialog, Icon },
  data() {
    return {
      isOpen: false,
      featureId: null,
      properties: [],
    };
  },
  methods: {
    editFeature(feature) {
      propIndex = 0;
      this.featureId = feature.id;
      const props = feature.properties || {};
      this.properties = Object.entries(props).map(([name, value]) => {
        return { name, value, id: propIndex++ };
      });

      this.fixProperties();
      this.isOpen = true;
    },
    fixProperties() {
      const count = this.properties.length;
      if (count < 1 || this.properties[count - 1].name !== "") {
        this.properties.push({ name: "", value: "", id: propIndex++ });
      }
    },
    removeProperty(idx) {
      this.properties.splice(idx, 1);
      this.fixProperties();
    },
    updateProperties() {
      const properties = {};
      this.properties
        .filter((p) => hasValue(p.name) && hasValue(p.value))
        .forEach((p) => {
          properties[p.name] = tryParse(p.value);
        });

      this.updateFeature({ id: this.featureId, properties });
      this.isOpen = false;
    },
    ...mapMutations(["updateFeature"]),
  },
};
</script>
