<template>
  <button class="p-4 flex gap-2 flex-auto hover:bg-gray-300 disabled:opacity-50 disabled:hover:bg-transparent">
    <Icon
      v-if="icon"
      :icon="icon"
    />
    <slot />
  </button>
</template>

<script>
import Icon from "./Icon.vue";
export default {
  components: { Icon },
  name: "HeaderButton",
  props: {
    icon: String,
  },
};
</script>
