<template>
  <img
    :src="iconUrl"
    class="h-5"
    aria-hidden="true"
  />
</template>
<script>
export default {
  name: "Icon",
  props: {
    icon: String,
  },
  computed: {
    iconUrl() {
      return new URL(`../assets/icons/${this.icon}.svg`, import.meta.url).href;
    },
  },
};
</script>