<template>
  <header>
    <nav class="flex items-center justify-between">
      <div class="flex items-center">
        <img
          src="../assets/logo.svg"
          alt="logo"
          class="h-6"
        />
        <h1 class="pl-3 text-2xl">
          Map Editor
        </h1>
      </div>
      <div class="flex">
        <template
          class="flex"
          v-if="selectionCount > 1"
        >
          <span>{{ selectionCount }}</span>
          <HeaderButton
            icon="union"
            @click="$emit('doOperation', 'union')"
          >
            Union
          </HeaderButton>
          <HeaderButton
            icon="subtract"
            @click="$emit('doOperation', 'difference')"
          >
            Subtract
          </HeaderButton>
          <HeaderButton
            icon="intersect"
            @click="$emit('doOperation', 'intersection')"
          >
            Intersect
          </HeaderButton>
        </template>
        <HeaderButton
          icon="upload"
          @click="$refs.inputFile.click()"
        >
          Upload
        </HeaderButton>
        <HeaderButton
          :disabled="!hasFeatures"
          icon="download"
          @click="$emit('saveFile')"
        >
          Download
        </HeaderButton>
        <HeaderButton
          :disabled="!hasFeatures"
          icon="file-earmark"
          @click="$emit('clearMap')"
        >
          Clear
        </HeaderButton>
      </div>
    </nav>
    <input
      class="hidden"
      type="file"
      ref="inputFile"
      @change="onFileChange"
    >
  </header>
</template>

<script>
import { mapGetters } from "vuex";
import HeaderButton from "./HeaderButton.vue";

export default {
  name: "TheHeader",
  components: { HeaderButton },
  computed: {
    ...mapGetters(["hasFeatures", "selectionCount"]),
  },
  methods: {
    async onFileChange(e) {
      const file = e.target.files[0];
      if (file) this.$emit("openFile", file);
    },
  },
};
</script>
