<template>
  <div></div>
</template>

<script>
import 'ol/ol.css'
import {
  cloneMapFeature,
  createMap, doFeatureOperation,
  downloadJsonFile,
  featuresToGeoJSON,
  featureToGeoJSON,
  geoJSONToFeatures,
  getDataFeature
} from './map'
import { mapMutations, mapState } from 'vuex'

const MAP_OPTIONS_KEY = 'MAP_OPTIONS'

export default {
  name: 'TheMap',
  mounted () {
    const mapOptions = JSON.parse(localStorage.getItem(MAP_OPTIONS_KEY))
    const { map, source, interactions } = createMap(this.$el, mapOptions)
    this.map = map
    this.source = source
    this.interactions = interactions

    source.on('addfeature', this.onAddFeature)
    interactions.select.on('select', this.onSelect)

    map.on("moveend", this.onMoveEnd)

    this.$emit('ready')
  },
  computed: {
    ...mapState(['selectedIds', 'features', 'isDrawing'])
  },
  methods: {
    copyFeature (feature) {
      const mapFeature = this.source.getFeatureById(feature.id)
      if (mapFeature) {
        const copy = cloneMapFeature(mapFeature, feature)
        this.source.addFeature(copy)
      }
    },
    doOperation (opType) {
      const features = this.interactions.select.getFeatures().getArray()
      const newFeature = doFeatureOperation(opType, features)
      if (newFeature) {
        this.source.addFeature(newFeature)
      }
    },
    async openFile (file) {
      try {
        const json = JSON.parse(await file.text())
        const features = geoJSONToFeatures(json, { fileName: file.name })
        this.source.addFeatures(features)
        this.zoomExtent()
      } catch (err) {
        console.log('openFile error', err)
      }
    },
    onSelect (e) {
      if (!this.isDrawing) {
        const ids = e.target.getFeatures().getArray().map(f => f.getId())
        this.setSelectedIds(ids)
      }
    },
    onAddFeature ({ feature }) {
      this.addFeature(getDataFeature(feature))
      this.setIsDrawing(false)
    },
    onMoveEnd(e) {
      const view = this.map.getView()
      const zoom = view.getZoom()
      const center = view.getCenter()
      localStorage.setItem(MAP_OPTIONS_KEY, JSON.stringify({zoom, center}))
    },
    removeSourceFeature (feature) {
      const mapFeature = this.source.getFeatureById(feature.id)
      if (mapFeature) {
        this.removeFeature(feature)
        this.source.removeFeature(mapFeature)
      }
    },
    saveFile (feature) {
      if (feature) {
        const mapFeature = this.source.getFeatureById(feature.id)
        if (!mapFeature) return
        const json = featureToGeoJSON(mapFeature, feature)
        downloadJsonFile(json, feature.properties.fileName || `feature_${feature.id}.json`)
      } else {
        const json = featuresToGeoJSON(this.source.getFeatures(), this.features)
        downloadJsonFile(json, 'features.json')
      }
    },
    updateSelection () {
      // sync map selection with vuex selected Ids if necessary
      const selectedCount = Object.entries(this.selectedIds).filter(e => e[1]).length
      const currentSelection = this.interactions.select.getFeatures()
      if (selectedCount !== currentSelection.getLength()) {
        currentSelection.clear()
        this.source.forEachFeature(f => {
          if (this.selectedIds[f.getId()]) currentSelection.push(f)
        })
      }
    },
    zoomExtent () {
      this.map.getView().fit(this.source.getExtent())
    },
    zoomFeature (feature) {
      const mapFeature = this.source.getFeatureById(feature.id)
      if (mapFeature) {
        this.map.getView().fit(mapFeature.getGeometry().getExtent())
      }
    },
    ...mapMutations(['addFeature', 'clearFeatures', 'removeFeature', 'setSelectedIds', 'setIsDrawing'])
  },
  watch: {
    isDrawing: function (value) {
      this.interactions.drawPolygon.setActive(value === true)
      this.interactions.modify.setActive(value !== true)
    },
    selectedIds: {
      handler: function () {
        this.updateSelection()
      },
      deep: true
    }
  }
}
</script>
