<template>
  <aside class="relative">
    <div>
      <button
        class="rounded-lg py-2 px-4 flex gap-2 bg-gray-200"
        :class="[isDrawing ? 'pencil' : 'hand-index']"
        @click="setIsDrawing(!isDrawing)"
      >
        <Icon :icon="isDrawing ? 'pencil' : 'hand-index'" />
        <span data-tooltip="Toggle drawing or editing mode">
          {{isDrawing ? 'Drawing' : 'Editing'}}
        </span>
      </button>
    </div>
    <feature-dialog ref="featureDialog" />
    <ul class="features absolute inset-x-0 bottom-2 top-12 overflow-y-auto">
      <li
        :class="selectedIds[feature.id] ? 'selected' : ''"
        v-for="feature in features"
        :key="feature.id"
      >
        <label
          class="flex cursor-pointer gap-2 align-bottom"
          @click.prevent="toggleSelectedId(feature.id)"
        >
          <input
            type="checkbox"
            class="pointer-events-none h-5 w-5"
            :checked="selectedIds[feature.id]"
          >
          <div>{{getFeatureName(feature)}}</div>
        </label>
        <div
          class="flex"
          v-if="selectedIds[feature.id]"
        >
          <button
            class="btn-icon"
            data-tooltip="Zoom"
            @click="$emit('zoomFeature', feature)"
          >
            <Icon icon="arrows-fullscreen" />
          </button>
          <button
            class="btn-icon"
            data-tooltip="Edit"
            @click="$refs.featureDialog.editFeature(feature)"
          >
            <Icon icon="pencil-square" />
          </button>
          <button
            class="btn-icon"
            data-tooltip="Save"
            @click="$emit('saveFeature', feature)"
          >
            <Icon icon="download" />
          </button>
          <button
            class="btn-icon"
            data-tooltip="Copy"
            @click="$emit('copyFeature', feature)"
          >
            <Icon icon="files" />
          </button>
          <button
            class="btn-icon"
            data-tooltip="Delete"
            @click="$emit('removeFeature', feature)"
          >
            <Icon icon="trash" />
          </button>
        </div>
      </li>
    </ul>
  </aside>
</template>
<script>
import { mapMutations, mapState } from "vuex";
import FeatureDialog from "./FeatureDialog.vue";
import Icon from "./Icon.vue";

export default {
  name: "TheSidebar",
  components: { FeatureDialog, Icon },
  computed: {
    ...mapState(["features", "selectedIds", "isDrawing"]),
  },
  methods: {
    getFeatureClass(feature) {
      return {
        feature: true,
        selected: this.selectedIds[feature.id],
      };
    },
    getFeatureName(feature) {
      const { id, properties } = feature;
      if (properties && properties.name) return properties.name;
      const entries = Object.entries(properties)
        .filter((e) => e[0] !== "fileName" && typeof e[1] === "string")
        .sort((a, b) => a[0].localeCompare(b[0]));

      return entries.length > 0
        ? entries.map(([name, value]) => `${name}: ${value}`).join("; ")
        : `Feature #${id}`;
    },
    ...mapMutations(["toggleSelectedId", "setIsDrawing"]),
  },
};
</script>
<style scoped>
li {
  @apply my-2;
}

li.selected label {
  @apply bg-yellow-200;
}
</style>
