<template>
    <div class="wrapper">
        <the-header
            class="header"
            @openFile="file => $refs.map.openFile(file)"
            @saveFile="$refs.map.saveFile()"
            @clearMap="clearMap()"
            @doOperation="type => $refs.map.doOperation(type)"
        />
        <the-sidebar
            class="sidebar"
            @copyFeature="f => $refs.map.copyFeature(f)"
            @removeFeature="f => $refs.map.removeSourceFeature(f)"
            @saveFeature="f => $refs.map.saveFile(f)"
            @zoomFeature="f => $refs.map.zoomFeature(f)"
        >
        </the-sidebar>
        <the-map
            class="content"
            ref="map"
        />
    </div>
</template>

<script>
import TheHeader from './components/TheHeader.vue'
import TheSidebar from './components/TheSidebar.vue'
import TheMap from './components/TheMap.vue'
import { mapMutations } from 'vuex'

export default {
  name: 'App',
  components: {
    TheMap,
    TheSidebar,
    TheHeader,
  },
  methods: {
    clearMap () {
      this.$refs.map.source.clear()
      this.clearFeatures()
    },
    ...mapMutations(['clearFeatures'])
  }
}
</script>
<style>
    .wrapper {
        min-height: 100vh;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: 45px auto;
        grid-gap: 8px;
    }

    .header, .sidebar {
        margin-left: 8px;
    }

    .header {
        grid-column: 1 / -1;
    }
</style>
